<h1>RoomId: {{roomId}}</h1>
<div>
I eat files. Feed me!
<div id="drop_zone">Drop files here</div>
<div id="file-progress"></div>
<output id="list"></output>

</div>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
<link href="/main.css" rel= "stylesheet">
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<script type="text/javascript">
  window.roomId = "{{roomId}}";
</script>
<script type="text/javascript" src="/bundle.js"></script>
